<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>SkillController</display-name>
    <servlet-name>SkillController</servlet-name>
    <servlet-class>com.zettamine.isa.contoller.SkillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SkillController</servlet-name>
    <url-pattern>/skill</url-pattern>
  </servlet-mapping>
  <display-name>interview-scheduler</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RecruiterController</display-name>
    <servlet-name>RecruiterController</servlet-name>
    <servlet-class>com.zettamine.isa.contoller.RecruiterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecruiterController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicantController</display-name>
    <servlet-name>ApplicantController</servlet-name>
    <servlet-class>com.zettamine.isa.contoller.ApplicantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantController</servlet-name>
    <url-pattern>/applicant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InterviewerController</display-name>
    <servlet-name>InterviewerController</servlet-name>
    <servlet-class>com.zettamine.isa.contoller.InterviewerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterviewerController</servlet-name>
    <url-pattern>/interviewer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InterviewController</display-name>
    <servlet-name>InterviewController</servlet-name>
    <servlet-class>com.zettamine.isa.contoller.InterviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterviewController</servlet-name>
    <url-pattern>/interview</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenticationFilterServlet</display-name>
    <filter-name>AuthenticationFilterServlet</filter-name>
    <filter-class>com.zettamine.isa.contoller.AuthenticationFilterServlet</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilterServlet</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>